// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.site-title {
  background-color: #cfe3fa;
  padding-left: 2em;
}

.each-link {
  margin-left: 1em;
}

.vote_ticker {
  display: inline-block;
  padding: 0em 1em 1em 1em;
}

.vote_ticker .votes_size {
  text-align: center;
  font-weight: bold;
  color: #666;
}

.link_info {
  display: inline-block;
  position: absolute;
  top: 0;
}

.pagination-holder {
  margin-left: 2em;
}


h4 {
  display: inline;
}
